body {
  background-color: #ff9999;
}
h1{
  color: red;
}
p{
  color: green;
}
ul{
  color: blue;
}
h2{
  color: yellow;
}

div#main {
  background-color: white;
  width: 80%;
}

div#title {
  text-align: center;
  font-size: 32px;
  background-color: green;
}

div.section {
  color: white;
  background-color: purple;
  text-align: center;
  width: 33%;
  float: left;
}
